

<div class="d-flex justify-content-between" style="margin-left: 2%; margin-bottom: 2%;">
  <div class="d-flex">
    <app-dropdown *ngIf="Dropdown" id="idBrigadas" class="" title="Seleccione un responsable" [dataToDialog]="lsBrigadas" [confProp]="BrigadaConfig" [filterActive]="true" [itemsProp]="itemsBrigadas" (itemChanged)="onItemChanged($event)"></app-dropdown>
  </div>
  <div style="margin-right: 10%;">
    <button *ngIf="Dropdown" type="button" style="padding-left: 60%; padding-right: 60%; "class="btn btn-primary" (click)="saveSelectedPersons()">Registrar</button>
  </div>
</div>

<p-table [value]="lsPersona" [paginator]="true" [lazy]="true" [rows]="10" (onLazyLoad)="loadPersonaLazy($event)"
  [totalRecords]="totalRows" [showCurrentPageReport]="true" scrollDirection="vertical"
  currentPageReportTemplate="{last} de {totalRecords}" class="table"
  [(selection)]="selectionPerson" dataKey="id" selectionMode="single">
  <ng-template pTemplate="header" let-columns>
    
   
    <tr>
      <th [hidden]="false" *ngIf="Dropdown"  pSortableColumn="Accion">

      <input type="text" [hidden]="true" id="id"  >
          <div class="col-12 mb-1">
            <div class="text-center flex justify-content-center align-items-center">
              Accion&nbsp; &nbsp;
             
            </div>
          </div>
          
      </th>

      <th pSortableColumn="DocumentoIdentidad">
        <div class="col-12 mb-1">
          <div class="text-center flex justify-content-center align-items-center">
            Identificación&nbsp; &nbsp;
            <p-sortIcon field="DocumentoIdentidad"></p-sortIcon>
          </div>
        </div>
        
      </th>
      <th pSortableColumn="Nombre">
        <div class="col-12 mb-1">
          <div class="text-center flex justify-content-center align-items-center">
            Nombre&nbsp; &nbsp;
            <p-sortIcon field="Nombre"></p-sortIcon>
          </div>
        </div>
       
      </th>
      <th pSortableColumn="Apellido">
        <div class="col-12 mb-1">
          <div class="text-center flex justify-content-center align-items-center">
            Apellido&nbsp; &nbsp;
            <p-sortIcon field="Apellido"></p-sortIcon>
          </div>
        </div>
      </th>
     
    </tr>
   <tr>
    <th *ngIf="Dropdown" >
      <div class="" style="margin-top: -39px; margin-left: 52.8%;">
       <div  field="Accion" class="" >
          <input  class="form-check-input " type="checkbox"  id="flexCheckAll"  (change)="onAllCheckboxChange($event)" [checked]="allSelected" id="flexCheckDefault">
        </div>
      
      </div>
     </th>
    <th >
      <div class="col-12">
        
        <p-columnFilter type="text" field="DocumentoIdentidad" matchMode="contains" [showMenu]="true"
        (paste)="onKeyDownLettersAndNumbers($event)" (keypress)="onKeyDownLettersAndNumbers($event)"
            (input)="onInput($event)"
        ></p-columnFilter>
      </div>
    </th>
<th >
  <div class="col-12">
    <p-columnFilter type="text" field="Nombre" matchMode="contains" [showMenu]="true"
      (paste)="onKeyDownLetters($event)" (keypress)="onKeyDownLetters($event)"
      (input)="onInput($event)"></p-columnFilter>
  </div>

    </th>
   <th>
    <div class="col-12">
      <p-columnFilter type="text" field="Apellido" matchMode="contains" [showMenu]="true"
        (paste)="onKeyDownLetters($event)" (keypress)="onKeyDownLetters($event)"
        (input)="onInput($event)"></p-columnFilter>
    </div>
   </th>
    
   </tr>

  </ng-template>
  
  <ng-template pTemplate="body" let-dataPersona let-rowIndex="rowIndex">
    <tr [pSelectableRow]="dataPersona" 
    (click)="Dropdown &&onRowClick( dataPersona)" 
    (dblclick)="!Dropdown && onRowDblClick($event, dataPersona)">
      <td *ngIf="Dropdown" >
       <div class="d-flex justify-content-center">
          <input class="form-check-input " type="checkbox"  id="flexCheckDefault"
          [value]="dataPersona.id"
          [checked]="isChecked(dataPersona)"
            (change)="onCheckboxChange(dataPersona,$event)"
            >
        
       </div>
      </td>
      <td [hidden]="true">{{dataPersona.Id}}</td>
      <td  >{{dataPersona.identification}}</td>
      <td>{{dataPersona.firstName | uppercase}} {{dataPersona.secondName | uppercase}}</td>
      <td>{{dataPersona.lastName | uppercase}} {{dataPersona.lastName | uppercase}}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="3">No existen registros.</td>
    </tr>
  </ng-template>
</p-table>

